* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 auto;
  text-align: center;
}

/* Header */
.header {
  width: 100%;
  background: var(--bg-light);
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 12px 32px;
}

.header-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 4px;
}

.logo img {
  height: 3em;
}

.logo-text {
  font-weight: 600;
  font-size: 24px;
  color: var(--text-dark);
  font-family: 'League Spartan', sans-serif;
  margin-bottom: -8px;
}

.get-started-btn {
  background: var(--primary-color);
  color: white;
  border: none;
  padding: 0.6rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

.get-started-btn:hover {
  background: var(--primary-dark);
}

.header__right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav-link {
  font-size: 14px;
  color: var(--text-light);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--text-dark);
}

/* hide nav link in mobile view */
@media (max-width: 768px) {
  .nav-link {
    display: none;
  }
  .header {
     padding: 12px 12px;
}
}

.cta-button {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;

  color: var(--bg-light);
  background: var(--primary-color);
  border: none;
  border-radius: 8px;

  cursor: pointer;
  transition: background 0.3s ease;
}

.cta-button a{
  color: inherit;
  text-decoration: none;
}

.cta-button:hover {
  background: var(--primary-dark);
}